
.product:hover{
	-webkit-box-shadow: 0px 0px 28px -4px rgba(0,0,0,0.66);
	-moz-box-shadow: 0px 0px 28px -4px rgba(0,0,0,0.66);
	box-shadow: 0px 0px 28px -4px rgba(0,0,0,0.66);
}
.product{
	 margin-top: 10px;
 }
.product h4{
	text-align: center;
}
.line-decoration{
	margin-top:40px;
	width: 100%;
}

.navigation-path ul{
	list-style-type: none;
}
.navigation-path ul li{
	float:left;
	color:white;
	display:block;
}
.navigation-path ul span{
	float:left;
	color:white;
}
.navigation-path ul li a{
	font-size:15px;
	float:left;
	width:100%;
	color:white;
}
.navigation-path .line{
	margin-left:3px;
	margin-right:-1px;
}
.navigation-path-category{
	padding-top: 20px;
}
.category {
	width:75%;
	background-color: #565F61;
	padding-left: 10px;
	color: white;
	margin-bottom:0px;
}
.category ul{
	padding-left: 10px;
	list-style-type: none;
	padding-top: 20px;
	padding-bottom: 20px;
}
.category h1{
	padding-top: 10px;
	padding-left: 10px
}
@media (max-width: 990px) {
	.navigation-path-category{
		display:none;
	}
	.unit{
		text-align: center;
	}
}
.unit{
	 text-align: center;
}